<!doctype html>
<html>
	<head>
		<title>{%?title} - Envoy</title>
		<link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.4.2/pure-min.css">
		<link rel="stylesheet" href="/static/css/style.css">
	</head>
	<body>
		<div class="pure-menu pure-menu-open pure-menu-horizontal">
			{%if access-level >= 0}
				<form method="post" action="/logout" class="logout-form">
					<button type="submit" class="pure-button">Log out</button>
				</form>
			{%/if}
			
			<div class="pure-menu-heading">Envoy</div>
			
			<ul>
				{%if access-level >= 0}
					<li><a href="/">Dashboard</a></li>
				{%/if}
				
				{%if access-level >= 150}
					<li><a href="/fqdns">FQDNs</a></li>
				{%/if}
				
				{%if access-level >= 75}
					<li><a href="/rooms">Rooms</a></li>
					<li><a href="/users">Users</a></li>
				{%/if}
				
				{%if access-level > 0}
					<li><a href="/logs">Logs</a></li>
					<li><a href="/profile">My profile</a></li>
				{%/if}
			</ul>
		</div>
		
		<div class="contents">
			{%?contents}
		</div>
	</body>
</html>
