Package: envoy-server-panel
Version: $VER
Section: base
Priority: optional
Architecture: all
Depends: mysql-server, httpd-cgi, php5-cgi (>=5.3), memcached, php5-memcache, php5-mysql, php5-curl, php5-dev, php5-mcrypt, php-pear, expect, pkg-config
Maintainer: Sven Slootweg <sven.slootweg@knightswarm.com>
Description: Envoy Control Panel
