$roomlist_width: 225px;
$userlist_width: 210px;
$input_height: 64px;

@mixin clearfix
{
	&:after {
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
	}
}

.clear
{
	/* This should be possible using the clearfix mixin, but 
	 * apparently isn't. Is this a problem with TideSDK? */
	clear: both;
}

.hidden
{
	display: none;
}

@mixin pull-left
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
}
@mixin pull-right
{
	position: absolute;
	top: 0px;
	bottom: 0px;
	right: 0px;
}
@mixin pull-top
{
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
}
@mixin pull-bottom
{
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
}

@mixin stretch-horizontal
{
	position: absolute;
	left: 0px;
	right: 0px;
}

@mixin stretch-vertical
{
	position: absolute;
	top: 0px;
	bottom: 0px;
}

body
{
	font-family: "Istok Web", sans-serif;
	background-color: #C8C8C8;
}

.input
{
	position: absolute;
	height: $input_height;
	bottom: 0px;
	left: $roomlist_width;
	right: $userlist_width;
	background-color: #F3F3F3;
	
	.textarea-wrapper
	{
		position: absolute;
		top: 6px;
		left: 6px;
		bottom: 6px;
		right: 92px;
		
		textarea
		{
			padding: 4px;
			box-sizing: border-box;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			width: 100%;
			height: 100%;
		}
	}
	
	button.send
	{
		position: absolute;
		right: 6px;
		top: 6px;
		bottom: 6px;
		width: 80px;
	}
}

#main
{
	background-color: white;
	
	/*@include stretch-vertical;*/
	position: absolute;
	top: 0px;
	bottom: $input_height;
	left: $roomlist_width;
	right: $userlist_width;
	
	overflow: auto;
	
	.chat
	{
		.message
		{
			
			border-bottom: 1px solid #D0D0D0;
			font-size: 14px;
			
			&.own
			{
				background-color: #DFE5FF;
				
				.author
				{
					background-color: #D0D5EE;
				}
			}
			
			.author, .body
			{
				padding: 4px 10px;
				display: block;
				float: left;
			}
			
			.author
			{
				width: 110px;
				margin-right: 9px;
				font-weight: bold;
				background-color: #EEEEEE;
			}
			
			.timestamp
			{
				float: right;
				font-size: 11px;
				color: #939393;
				margin-right: 10px;
				margin-top: 4px;
			}
			
			.event
			{
				display: block;
				padding: 4px 10px;
				color: gray;
			}
			
			.preview
			{
				clear: both;
				background-color: #F3F5F5;
				padding: 9px 9px 9px 17px;
				
				img
				{
					max-height: 125px;
				}
				
				.title
				{
					font-size: 17px;
					font-weight: bold;
					margin-bottom: 3px;
				}
			}
		}
	}
	
	.lobby
	{
		padding: 12px;
		
		h1
		{
			font-size: 20px;
			margin: 0px 0px 5px 0px;
		}
		
		.room
		{
			padding: 5px 0px 5px 0px;
			border-top: 1px solid silver;
			
			.name
			{
				font-weight: bold;
				margin-right: 12px;
			}
		}
	}
}

#room_list
{
	background-color: #181818;
	color: #DEDEDE;
	
	@include pull-left;
	width: $roomlist_width;
	overflow: auto;
	
	.room
	{
		position: relative;
		background-color: #373737;
		padding: 8px 10px;
		font-size: 15px;
		cursor: default;
		
		&:hover
		{
			background-color: #303030;
		}
		
		&.selected
		{
			background-color: #454545;
			
			.arrow
			{
				@include pull-right;
				background-color: white;
				width: 8px;
				border-radius: 12px 0px 0px 12px;
			}
		}
		
		.name
		{
			position: absolute;
			display: block;
			left: 42px;
			top: 9px;
			width: $roomlist_width - 90px;
			height: 26px;
			text-overflow: ellipsis;
			white-space: nowrap;
			overflow: hidden;
		}
		
		i.status
		{
			font-size: 14px;
			margin-right: 4px;
			width: 15px;
		}
		
		.close
		{
			position: absolute;
			top: 9px;
			right: 18px;
			color: #D4D4D4;
			text-decoration: none;
			
			&:hover
			{
				color: white;
			}
		}
		
		.unread
		{
			position: absolute;
			top: 10px;
			right: 40px;
			background-color: #AD1C1C;
			color: white;
			font-weight: bold;
			font-size: 13px;
			padding: 1px 4px;
			border-radius: 3px;
			-webkit-border-radius: 3px;
		}
	}
}

#user_list
{
	background-color: #EBEBEB;
	
	@include pull-right;
	width: $userlist_width;
	
	.user
	{
		background-color: #DCDCDC;
		padding: 6px 8px;
		font-size: 14px;
		font-weight: bold;
		cursor: default;
		
		&.selected
		{
			background-color: #BFBFBF;
		}
		
		i.status
		{
			font-size: 13px;
			margin-right: 4px;
			
			&.available, &.chat
			{
				color: #1F960E;
			}
			
			&.dnd
			{
				color: #C02413;
			}
			
			&.away, &.xa
			{
				color: #B2AC19;
			}
			
			&.unavailable
			{
				color: #848484;
			}
		}
	}
	
	.vcard
	{
		padding: 8px;
		font-size: 13px;
		
		.name
		{
			font-weight: bold;
		}
		
		.job-title
		{
			font-style: italic;
			margin-bottom: 4px;
		}
	}
}

.login
{
	.loginform
	{
		margin: 32px auto;
		padding: 24px;
		width: 300px;
		background-color: #181818;
		
		input
		{
			display: block;
			width: 100%;
			padding: 6px;
			background-color: #5C5C5C;
			color: white;
			border: 1px solid #8A8A8A;
			margin-bottom: 12px;
		}
		
		label
		{
			display: block;
			color: white;
			font-weight: bold;
		}
		
		button
		{
			display: block;
			width: 120px;
			margin: 24px auto 0px auto;
			background-color: #52546F;
			color: white;
			font-weight: bold;
			-webkit-border-radius: 1px; /* To prevent system borders */
		}
		
		.in-progress
		{
			color: white;
			text-align: center;
			margin: 24px auto 0px auto;
		}
	}
}

.alert
{
	border: 1px solid #BFA51F;
	background-color: #E5DA9F;
	border-radius: 4px;
	padding: 6px;
}
