body {
  font-family: monospace; }

#console {
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 50%;
  border-right: 1px solid black; }
  #console #messages {
    position: absolute;
    top: 0px;
    bottom: 24px;
    left: 0px;
    right: 0px;
    overflow: auto; }
    #console #messages .message {
      border-bottom: 1px solid silver;
      padding: 3px 5px; }
      #console #messages .message .command {
        color: gray;
        margin-bottom: 5px; }
      #console #messages .message .response {
        color: black; }
  #console #form_command {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px; }
    #console #form_command input {
      width: 75%; }
    #console #form_command button {
      width: 20%; }

#watch {
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 50%;
  padding: 6px 8px;
  -webkit-box-sizing: border-box;
  background-color: #EEEEEE; }
