.clear {
  /* This should be possible using the clearfix mixin, but 
   * apparently isn't. Is this a problem with TideSDK? */
  clear: both; }

.hidden {
  display: none; }

body {
  font-family: "Istok Web", sans-serif;
  background-color: #C8C8C8; }

.input {
  position: absolute;
  height: 64px;
  bottom: 0px;
  left: 225px;
  right: 210px;
  background-color: #F3F3F3; }
  .input .textarea-wrapper {
    position: absolute;
    top: 6px;
    left: 6px;
    bottom: 6px;
    right: 92px; }
    .input .textarea-wrapper textarea {
      padding: 4px;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      width: 100%;
      height: 100%; }
  .input button.send {
    position: absolute;
    right: 6px;
    top: 6px;
    bottom: 6px;
    width: 80px; }

#main {
  background-color: white;
  /*@include stretch-vertical;*/
  position: absolute;
  top: 0px;
  bottom: 64px;
  left: 225px;
  right: 210px;
  overflow: auto; }
  #main .chat .message {
    border-bottom: 1px solid #D0D0D0;
    font-size: 14px; }
    #main .chat .message.own {
      background-color: #DFE5FF; }
      #main .chat .message.own .author {
        background-color: #D0D5EE; }
    #main .chat .message .author, #main .chat .message .body {
      padding: 4px 10px;
      display: block;
      float: left; }
    #main .chat .message .author {
      width: 110px;
      margin-right: 9px;
      font-weight: bold;
      background-color: #EEEEEE; }
    #main .chat .message .timestamp {
      float: right;
      font-size: 11px;
      color: #939393;
      margin-right: 10px;
      margin-top: 4px; }
    #main .chat .message .event {
      display: block;
      padding: 4px 10px;
      color: gray; }
    #main .chat .message .preview {
      clear: both;
      background-color: #F3F5F5;
      padding: 9px 9px 9px 17px; }
      #main .chat .message .preview img {
        max-height: 125px; }
      #main .chat .message .preview .title {
        font-size: 17px;
        font-weight: bold;
        margin-bottom: 3px; }
  #main .lobby {
    padding: 12px; }
    #main .lobby h1 {
      font-size: 20px;
      margin: 0px 0px 5px 0px; }
    #main .lobby .room {
      padding: 5px 0px 5px 0px;
      border-top: 1px solid silver; }
      #main .lobby .room .name {
        font-weight: bold;
        margin-right: 12px; }

#room_list {
  background-color: #181818;
  color: #DEDEDE;
  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;
  width: 225px;
  overflow: auto; }
  #room_list .room {
    position: relative;
    background-color: #373737;
    padding: 8px 10px;
    font-size: 15px;
    cursor: default; }
    #room_list .room:hover {
      background-color: #303030; }
    #room_list .room.selected {
      background-color: #454545; }
      #room_list .room.selected .arrow {
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        background-color: white;
        width: 8px;
        border-radius: 12px 0px 0px 12px; }
    #room_list .room .name {
      position: absolute;
      display: block;
      left: 42px;
      top: 9px;
      width: 135px;
      height: 26px;
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden; }
    #room_list .room i.status {
      font-size: 14px;
      margin-right: 4px;
      width: 15px; }
    #room_list .room .close {
      position: absolute;
      top: 9px;
      right: 18px;
      color: #D4D4D4;
      text-decoration: none; }
      #room_list .room .close:hover {
        color: white; }
    #room_list .room .unread {
      position: absolute;
      top: 10px;
      right: 40px;
      background-color: #AD1C1C;
      color: white;
      font-weight: bold;
      font-size: 13px;
      padding: 1px 4px;
      border-radius: 3px;
      -webkit-border-radius: 3px; }

#user_list {
  background-color: #EBEBEB;
  position: absolute;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 210px; }
  #user_list .user {
    background-color: #DCDCDC;
    padding: 6px 8px;
    font-size: 14px;
    font-weight: bold;
    cursor: default; }
    #user_list .user.selected {
      background-color: #BFBFBF; }
    #user_list .user i.status {
      font-size: 13px;
      margin-right: 4px; }
      #user_list .user i.status.available, #user_list .user i.status.chat {
        color: #1F960E; }
      #user_list .user i.status.dnd {
        color: #C02413; }
      #user_list .user i.status.away, #user_list .user i.status.xa {
        color: #B2AC19; }
      #user_list .user i.status.unavailable {
        color: #848484; }
  #user_list .vcard {
    padding: 8px;
    font-size: 13px; }
    #user_list .vcard .name {
      font-weight: bold; }
    #user_list .vcard .job-title {
      font-style: italic;
      margin-bottom: 4px; }

.login .loginform {
  margin: 32px auto;
  padding: 24px;
  width: 300px;
  background-color: #181818; }
  .login .loginform input {
    display: block;
    width: 100%;
    padding: 6px;
    background-color: #5C5C5C;
    color: white;
    border: 1px solid #8A8A8A;
    margin-bottom: 12px; }
  .login .loginform label {
    display: block;
    color: white;
    font-weight: bold; }
  .login .loginform button {
    display: block;
    width: 120px;
    margin: 24px auto 0px auto;
    background-color: #52546F;
    color: white;
    font-weight: bold;
    -webkit-border-radius: 1px;
    /* To prevent system borders */ }
  .login .loginform .in-progress {
    color: white;
    text-align: center;
    margin: 24px auto 0px auto; }

.alert {
  border: 1px solid #BFA51F;
  background-color: #E5DA9F;
  border-radius: 4px;
  padding: 6px; }

.context-menu {
  z-index: 999;
  background-color: black;
  color: white;
  padding: 8px; }
