<table class="pure-table pure-table-bordered fill">
	<thead>
		<tr>
			<th>JID</th>
			<th>Affiliation</th>
			<th style="width: 480px;">Change to...</th>
		</tr>
	</thead>
	{%foreach affiliation in affiliations}
		<tr>
			<td>{%?affiliation[jid]}</td>
			<td>{%?affiliation[affiliation]}</td>
			<td>
				{%if access-level >= 100}
				<!-- Currently the XMPPd state is synced to the database. For this to work, that needs to be reversed.
					<form method="post" action="/fqdns/{%?fqdn}/rooms/{%?room}/affiliations/{%?affiliation[id]}">
						<button class="pure-button blue" type="submit" name="affiliation" value="owner">Owner</button>
						<button class="pure-button red" type="submit" name="affiliation" value="admin">Admin</button>
						<button class="pure-button lime" type="submit" name="affiliation" value="member">Member</button>
						<button class="pure-button" type="submit" name="affiliation" value="none">None (Guest)</button>
						<button class="pure-button black" type="submit" name="affiliation" value="outcast">Banned</button>
					</form>
				-->
				{%/if}
			</td>
		</tr>
	{%/foreach}
</table>
