<!doctype html>
<html>
	<head>
		<!-- Stylesheets -->
		<link rel="stylesheet" href="css/pure-min.css">
		<link rel="stylesheet" href="font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" href="css/main.css">
		<link rel="stylesheet" href="istok/stylesheet.css">
		<!-- Base Javascript libraries -->
		<script src="script/jquery-1.10.2.min.js"></script>
		<script src="script/angular.min.js"></script>
		<!-- Initial configuration and Python availability detection -->
		<script type="text/python">
			import sys
			sys.path.insert(1, "/home/sven/projects/SleekXMPP/")
			has_python = True;
		</script>
		<!-- Components for TideSDK client -->
		<script src="script/menu.js"></script>
		<script type="text/python" src="script/queue.py"></script>
		<script type="text/python">
			import time, sleekxmpp
			from sleekxmpp import ClientXMPP
			from sleekxmpp.util import Queue, QueueEmpty
			import logging
			
			logging.basicConfig(level=logging.DEBUG, format="%(asctime)s %(levelname)s %(message)s")
			
			q = PyQueue();
			
			class Client(ClientXMPP):
				def __init__(self, username, fqdn, password):
					self._jid = "%s@%s" % (username, fqdn)
					self.conference_host = "conference.%s" % fqdn
					ClientXMPP.__init__(self, self._jid, password)
					
					self.add_event_handler("session_start", self.session_start)
					self.registerPlugin('xep_0030') # Service Discovery
					self.registerPlugin('xep_0004') # Data Forms
					self.registerPlugin('xep_0045') # MUC
					self.registerPlugin('xep_0199') # XMPP Ping
					
				def session_start(self, event):
					self.get_roster()
					self.send_presence()
					
					console.log("CONNECTED!")
					
					rooms = self['xep_0045'].get_rooms(ifrom=self.boundjid, jid=self.conference_host)['disco_items']['items']
					
					for room_jid, room_node, room_name in rooms:
						q.put({"type": "roomlist_add", "data": {
							"name": room_name,
							"jid": room_jid,
							"icon": "comments"
						}})
					
					console.log("Room list updated...")
				
			def dom_load():
				xmpp = Client("testuser", "envoy.local", "testpass")
				xmpp.connect()
				xmpp.process(block=False)
		</script>
		<!-- Components and shims for web client -->
		<script src="script/shim.js"></script>
		<!-- Universal application code -->
		<script>
			var menu = new ApplicationMenu({
				"File": {
					"Quit": function(){ Ti.App.exit(); }
				},
				"Edit": {
					"Preferences": function(){ openPreferences(); }
				},
				"Help": {
					"Quickstart": function(){ openQuickstart(); },
					"Manual": function(){ openManual(); },
					"About": function(){ openAbout(); }
				}
			});
			menu.setDefault();
			
			$(function(){
				dom_load();
			});
		</script>
		<script src="script/ui.js"></script>
		<script>
			q.set_callback(function(item){
				var ui_scope = angular.element("[ng-controller=UiController]").scope()
				
				if(item.type == "roomlist_add")
				{
					ui_scope.rooms.push(item.data)
				}
				
				ui_scope.$apply();
			});
			
			setInterval(q.check, 150); /* FIXME: This is not very efficient. Surely, there's a better way to do this? */
		</script>
	</head>
	<body ng-app="envoyClient" ng-controller="UiController">
		<div id="room_list">
			<div class="room" ng-repeat="room in rooms" ng-class="{selected : $first}" onclick="testfunc();" data-jid="{{ room.jid}}">
				<i class="status icon-{{room.icon}} icon-fixed-width"></i>
				<span class="name">{{ room.name }}</span>
			</div>
		</div>
		<div id="user_list">
			<div class="user" ng-repeat="user in users">
				<i class="status {{user.status}} icon-circle"></i>
				{{ user.name }}
			</div>
		</div>
		<div id="main">
			<div class="chat">
				<div class="message" ng-repeat="message in messages" ng-class="{own : message.jid == own_jid}">
					<span class="author">{{ message.author_name }}</span>
					<span class="body">{{ message.body }}</span>
					<div class="clear"></div>
				</div>
			</div>
		</div>
	</body>
</html>
