{
	"database": {
		"driver": "mysql",
		"hostname": "localhost",
		"username": "root",
		"password": "",
		"database": "envoy"
	},
	"locale": {
		"path": 		"locales",
		"extension":		"lng",
		"default_locale": 	"english",
		"default_timezone": 	"Europe/Amsterdam"
	},
	"memcache": {
		"enabled": 	true,
		"compressed": 	true,
		"hostname": 	"localhost",
		"port": 	11211
	},
	"templates": {
		"extension": "html"
	},
	"class_map": {
		"user": "User",
		"fqdn": "Fqdn",
		"apikey": "ApiKey",
		"apipermission": "ApiPermission",
		"room": "Room"
	},
	"components": [
		"router",
		"errorhandler"
	],
	"twilio": {
		"sid": "",
		"token": "",
		"sender": "+15005550006"
	},
	"github": {
		"token": ""
	},
	"imgur": {
		"client_id": ""
	},
	"trello": {
		"key": "",
		"token": ""
	},
	"beanstalk": {
		"host": "",
		"user": "",
		"key": ""
	},
	"smtp": {
		"hostname": "smtp.gmail.com",
		"port": 587,
		"tls": "required",
		"username": "your@email.com",
		"password": "sekrit",
		"sender": "notifications@your.service"
	},
	"api": {
		"endpoint": "http://api.envoy.local",
		"id": "api_id_goes_here",
		"key": "api_key_goes_here"
	},
	"xmpp_component": {
		"jid": "component.envoy.local",
		"fqdn": "envoy.local",
		"port": 5347,
		"password": "$COMPONENT_PASSWORD"
	},
	"asset_path": "/vagrant/src/component",
	"mock": {
		"sms": false,
		"email": false
	},
	"debug": false,
	"development_mode": false
}
